<a href="/" class="d-block p-3 link-dark text-decoration-none" title="Chatty" data-bs-toggle="tooltip"
  data-bs-placement="right">
  <img src="./assets/images/logo-icon.png" alt="mdo" width="45" class="rounded-circle">
</a>
<ul class="nav nav-pills nav-flush flex-column mb-auto text-center" *ngIf="user">
  <ng-container *ngIf="userGroups">
    <li *ngFor="let g of userGroups" class="nav-item">
      <a routerLink="/chat/{{g.id}}" class="nav-link py-3 border-bottom rounded-0" aria-current="page" title={{g.name}}
        placement="end" ngbTooltip={{g.name}}>
        <i class="bi bi-people-fill"></i>
      </a>
    </li>
  </ng-container>
  <li class="nav-item" *ngIf="user.role != 'user'">
    <a routerLink="/admin" class="nav-link py-3 border-bottom rounded-0" aria-current="page" title="Admin"
      placement="end" ngbTooltip="Admin" id="adminBtn">
      <i class="bi bi-person-workspace"></i>
    </a>
  </li>
</ul>
<div class="border-top" ngbDropdown placement="top-start" *ngIf="user">
  <a class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none" id="dropdownBasic2"
    ngbDropdownToggle>
    <img src="{{imageserver}}{{user.avatar}}" alt="mdo" width="28" height="28" class="rounded-circle">
  </a>
  <ul ngbDropdownMenu aria-labelledby="dropdownBasic2">
    <li ngbDropdownItem><a class="nav-link" routerLink="/profile">Profile</a></li>
    <li ngbDropdownItem><a class="nav-link" href="#" (click)="logout()">Logout</a></li>
  </ul>
</div>