<header class="d-flex flex-wrap border-bottom sticky-top">
    <div class="d-flex align-items-center mb-3 mb-md-0 me-md-auto p-2">
        <span class="fs-4">Admin</span>
    </div>

    <ul class="nav nav-pills p-2">
        <li class="nav-item">
        </li>
    </ul>
</header>
<div class="d-flex p-2">
    <ul ngbNav #nav="ngbNav" class="nav-pills p-2" orientation="vertical">
        <li ngbNavItem class="p-1">
            <a ngbNavLink>Groups</a>
            <ng-template ngbNavContent>
                <!-- Groups content-->
                <div class="text-end p-2">
                    <button *ngIf="user.role == 'superAdmin' || user.role == 'groupAdmin'"
                        class="btn btn-outline-primary" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed"
                        aria-controls="collapseGroup"><i class="bi bi-plus-circle"></i></button>
                </div>
                <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" class="p-2">
                    <div class="card">
                        <div class="card-body row row-cols-lg-auto g-3 align-items-center">
                            <div class="col">
                                New Group:
                            </div>
                            <div class="col">
                                <input class="form-control" placeholder="Group ID" name="id" #groupid>
                            </div>
                            <div class="col">
                                <input class="form-control" placeholder="Group Name" name="name" #groupname>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-outline-primary"
                                    (click)="createGroup(groupid.value, groupname.value)">Create</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-2">
                    <table class="table table-hover card">
                        <thead>
                            <tr class="d-flex align-middle">
                                <th scope="col" class="col-3">ID</th>
                                <th scope="col" class="col-5">Name</th>
                                <th scope="col" class="col-4"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let g of groups" class="d-flex align-middle">
                                <td class="col-3">{{g.id}}</td>
                                <td class="col-5">{{g.name}}</td>
                                <td class="col-4">
                                    <div class="d-flex justify-content-evenly">
                                        <button class="btn btn-outline-primary btn-sm"
                                            (click)="showChannels(channel, g.id)">Channels</button>
                                        <button class="btn btn-outline-primary btn-sm"
                                            (click)="showMembers(groupUser, 'group', g.id)">Users</button>
                                        <button *ngIf="user.role == 'superAdmin'" class="btn btn-outline-danger btn-sm"
                                            (click)="deleteGroup(g.id)">Delete</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- Groups content end -->
            </ng-template>
        </li>
        <li *ngIf="user.role == 'superAdmin' || user.role == 'groupAdmin'" class="p-1" ngbNavItem>
            <a ngbNavLink>Users</a>
            <ng-template ngbNavContent>
                <!-- Users content-->
                <div class="text-end p-2">
                    <button *ngIf="user.role == 'superAdmin' || user.role == 'groupAdmin'"
                        class="btn btn-outline-primary" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed"
                        aria-controls="collapseGroup"><i class="bi bi-plus-circle"></i></button>
                </div>
                <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" class="p-2">
                    <div class="card">
                        <div class="card-body row row-cols-lg-auto g-3 align-items-center">
                            <div class="col">
                                New User:
                            </div>
                            <div class="col">
                                <input class="form-control" placeholder="Username" name="username" #username>
                            </div>
                            <div class="col">
                                <input class="form-control" placeholder="Email" name="email" #email>
                            </div>
                            <div class="col">
                                <input class="form-control" placeholder="Password" name="password" #password>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-outline-primary"
                                    (click)="createUser(username.value, email.value, password.value)">Create</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-2">
                    <table class="table table-hover card">
                        <thead>
                            <tr class="d-flex align-middle">
                                <th scope="col" class="col-4" id="usernameTh">Username</th>
                                <th scope="col" class="col-4">Admin Role</th>
                                <th scope="col" class="col-4"> </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let u of users" class="d-flex align-middle">
                                <td class="col-4">{{u.username}}</td>
                                <td class="col-4">
                                    <div  class="btn-group" role="group">
                                    <button *ngIf="user.role == 'superAdmin'" class="btn btn-sm" [ngClass]="u.role == 'superAdmin' ? 'btn-primary' : 'btn-outline-primary'" (click)="updateUserRole(u.username, 'superAdmin')">Super</button>
                                    <button  *ngIf="user.role == 'superAdmin'" class="btn btn-sm" [ngClass]="u.role == 'groupAdmin' ? 'btn-primary' : 'btn-outline-primary'" (click)="updateUserRole(u.username, 'groupAdmin')">Group</button>
                                    <button *ngIf="user.role == 'superAdmin' || user.role == 'groupAdmin'" class="btn btn-sm" [ngClass]="u.role == 'groupAssis' ? 'btn-primary' : 'btn-outline-primary'" (click)="updateUserRole(u.username, 'groupAssis')">Assistant</button>
                                </div>
                                </td>
                                <td class="col-4">
                                    <div class="d-flex justify-content-evenly">
                                        <button class="btn btn-outline-primary btn-sm"
                                            (click)="showGroupsByUser(groupsForUser, u.username)">Groups/Channels</button>
                                        <button *ngIf="user.role == 'superAdmin'" class="btn btn-outline-danger btn-sm"
                                            (click)="deleteUser(u.username)">Delete</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-end p-2">
                    <button *ngIf="user.role == 'superAdmin'" class="btn btn-outline-danger btn-sm"
                                            (click)="deleteAllUsers()">Delete All</button>
                </div>
                <!-- Users content end -->
            </ng-template>
        </li>
    </ul>
    <!-- Nav content output -->
    <div [ngbNavOutlet]="nav" class="flex-grow-1 p-2"></div>
</div>
<!-- Channel Modal from Groups -->
<ng-template #channel let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Channels</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <button *ngIf="user.role == 'superAdmin' || user.role == 'groupAdmin'" class="btn btn-outline-primary"
            (click)="collapseC.toggle()" [attr.aria-expanded]="!isCollapsedC"
            aria-controls="collapseGroup"><i class="bi bi-plus-circle"></i></button>
        <div #collapseC="ngbCollapse" [(ngbCollapse)]="isCollapsedC">
            <div class="card">
                <div class="card-body row row-cols-lg-auto g-3 align-items-center">
                    <div class="col">
                        <input class="form-control" placeholder="Channel ID" name="id" #channelid>
                    </div>
                    <div class="col">
                        <input class="form-control" placeholder="Channel Name" name="name" #channelname>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-outline-primary"
                            (click)="createChannel(channelid.value, channelname.value)">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Users</th>
                    <th *ngIf="user.role == 'groupAdmin' || user.role == 'superAdmin'" scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let c of channels">
                    <tr *ngIf="c.gid == selectedGroup">
                        <td>{{c.id}}</td>
                        <td>{{c.name}}</td>
                        <td><button class="btn btn-outline-primary" (click)="showMembers(groupUser, 'channel', c.id)">Users</button></td>
                        <td *ngIf="user.role == 'groupAdmin' || user.role == 'superAdmin'"><button
                                class="btn btn-outline-danger" (click)="deleteChannel(c.id)">Delete</button></td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>
<!-- Users Modal from Groups -->
<ng-template #groupUser let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Users</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Username</th>
                    <th *ngIf="user.role == 'groupAdmin' || user.role == 'superAdmin'" scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let u of resultMembers">
                    <td>{{u.username}}</td>
                    <td *ngIf="user.role == 'groupAdmin' || user.role == 'superAdmin'">
                        <button class="btn btn-outline-danger" (click)="removeMember(u.username)">Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>
<!-- Groups Modal from User -->
<ng-template #groupsForUser let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{selectedUser}}</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="p-2">
            <table class="table table-hover card">
                <thead>
                    <tr class="d-flex align-middle">
                        <th scope="col" class="col-1"> </th>
                        <th scope="col" class="col-3">ID</th>
                        <th scope="col" class="col-4">Name</th>
                        <th scope="col" class="col-4"> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let g of groupsByUser" class="d-flex">
                        <td class="col-1"><i *ngIf="g.member" class="bi bi-check-circle-fill text-primary"></i></td>
                        <td class="col-3" [ngClass]="g.member ? '' : 'text-muted'">{{g.id}}</td>
                        <td class="col-4" [ngClass]="g.member ? '' : 'text-muted'">{{g.name}}</td>
                        <td class="col-4">
                            <div class="d-flex justify-content-evenly">
                                <button *ngIf="g.member" class="btn btn-outline-danger btn-sm"
                                    (click)="removeUserFromGroup(selectedUser, g.id)">Remove</button>
                                <button *ngIf="!g.member" class="btn btn-outline-primary btn-sm"
                                    (click)="addUserToGroup(selectedUser, g.id)"> Add </button>
                                <button *ngIf="g.member" class="btn btn-outline-primary btn-sm"
                                    (click)="showChannelsByUser(channelsForUser, selectedUser, g.id)">Channels</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>
<!-- Channel Modal from User -->
<ng-template #channelsForUser let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{selectedUser}}</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="p-2">
            <table class="table table-hover card">
                <thead>
                    <tr class="d-flex align-middle">
                        <th scope="col" class="col-1"> </th>
                        <th scope="col" class="col-3">ID</th>
                        <th scope="col" class="col-4">Name</th>
                        <th scope="col" class="col-4"> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let c of channelsByUser" class="d-flex">
                        <td class="col-1"><i *ngIf="c.member" class="bi bi-check-circle-fill text-primary"></i></td>
                        <td class="col-3" [ngClass]="c.member ? '' : 'text-muted'">{{c.id}}</td>
                        <td class="col-4" [ngClass]="c.member ? '' : 'text-muted'">{{c.name}}</td>
                        <td class="col-4">
                            <div class="d-flex justify-content-evenly">
                                <button *ngIf="c.member" class="btn btn-outline-danger btn-sm"
                                    (click)="removeUserFromChannel(selectedUser, c.id, c.gid)">Remove</button>
                                <button *ngIf="!c.member" class="btn btn-outline-primary btn-sm"
                                    (click)="addUserToChannel(selectedUser, c.id, c.gid)"> Add </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>