<header class="d-flex flex-wrap border-bottom sticky-top">
    <div class="d-flex align-items-center mb-3 mb-md-0 me-md-auto p-2">
        <span class="fs-4">{{groupname}}</span>
        <p>{{rooms}}</p>
    </div>

    <ul class="nav nav-pills p-2">
        <li class="nav-item">
            <button (click)="chat()" class="btn btn-primary btn-block input-group-text" title="Video"><i class="bi bi-camera-video"></i></button>
        </li>
    </ul>
</header>
<div class="d-flex" style="max-height: 85%;">
    <ul ngbNav #nav="ngbNav" class="nav-pills p-3 col-3 overflow-scroll" orientation="vertical">
        <li *ngFor="let c of userChannels" ngbNavItem class="p-1">
            <a ngbNavLink (click)="onClickChannel(c.id)" class="position-relative">{{c.name}}<span class="badge rounded-pill text-bg-light position-absolute top-50 end-0 translate-middle-y" style ="margin-right: 10px;" *ngIf="c.id == room && activeNum > 0">{{activeNum}} users</span></a>
            <ng-template ngbNavContent>
                <!-- Chat content-->
                <div class="sticky-top card p-2 bg-light"> {{roomnotice}}</div>
                <ul class="list-group mb-2">
                    <li *ngFor="let m of messages" class="list-group-item">
                        <div class="p-2">
                            <img src="{{imageserver}}{{m.avatar}}" alt="mdo" width="28" height="28" class="rounded-circle">
                            {{m.sender}}
                        </div>
                        <div class="card border-0">
                            <div *ngIf="m.type == 'text'" class="card-body p-2">{{m.body}}</div>
                            <div *ngIf="m.type == 'image'" class="card-body p-2"><a href="{{imageserver}}{{m.body}}" target="_blank"><img src="{{imageserver}}{{m.body}}" alt="File" class="rounded mx-auto d-block" width="300" height="300"></a></div>
                        </div>
                    </li>
                </ul>
                <form class="sticky-bottom">
                    <div class="card p-2 bg-light">
                        <div class="input-group mb-0">
                            <input type="text" [(ngModel)]="messagecontent" name="messagecontent" id="messageconent"
                                class="form-control border-0 bg-light" placeholder="Message">
                            <div class="input-group-prepend">
                                <button (click)="chat()" class="btn btn-outline-primary btn-block input-group-text"><i class="bi bi-send"></i></button>
                                <button (click)="showImgModal(imgUploader)" class="btn btn-outline-primary btn-block input-group-text"><i class="bi bi-image"></i></button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- Chat content end -->
            </ng-template>
        </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="flex-grow-1 p-3 overflow-scroll col-9"></div>
</div>
<!-- Modal for Image Uploader -->
<ng-template #imgUploader let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Send File</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="p-2">
          <form>
            <div class="form-outline mb-4">
          <input type="file" class="form-control" (change)="onFileSelected($event)" name="uploadfile" id = "uploadfile" />
        </div>
          <button class="btn btn-primary btn-block mb-4" type="button" (click) ="onUpload()">Submit</button>
        
          </form>
            
        </div>
    </div>
    <!-- <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
    </div> -->
  </ng-template>